<div class="wrapper">
    <h1>Todo App</h1>

    <button (click)="onAdd()"></button>
    <div class="input-task">

        <input type="text" [(ngModel)]="todoItem"> 

        
<!--         <button (click)="onAdd()">Add</button>
 -->    </div>

    <section>
        <ul>
            <li *ngFor="let newTodo of newTodos">
                {{newTodo.name}}
            </li>
        </ul>
    </section>

    <div class="footer">
        <div class="statistical">
            You have {{ newTodos.length }} pending tasks
        </div>
        <button (click)="onDeletedAll()">Clear all</button>
    </div>    
</div>
