<div class="wrapper">
    <h1>Todo App</h1>
    <div class="input-task">

        <input type="text" [(ngModel)]="todoItem"> 
        
        <button (click)="onAdd()">Add</button>
    </div>

    <section>
        <app-todo-item
            *ngFor="let newTodo of newTodos"
            [todo]="newTodo" 
            (select)="onSelected($event)"
            (delete)="onDeleted($event)"
            (done)="onDone($event)"
        >

        </app-todo-item>
    </section>

    <div class="footer">
        <div class="statistical">
            You have {{ newTodos.length }} pending tasks
        </div>
        <button (click)="onDeletedAll()">Clear all</button>
    </div>    
</div>
