@import "../../bridge";

section {
    width: 90%;
    margin: 40px;
}

input {
    width: 100%;
    height: 50px;
    padding: 5px 5px 5px 20px;
    margin: 10px 0 10px 3px;
    border: 3px solid;
    border-color: $border-color-primary;
    font-size: 1.6rem;
    color: $color-dark;
    @include border-radius(0, 8px, 0, 0, 8px);
}

button {
    @include border-radius(0, 0, 8px, 8px, 0);
    width: 100px;
    height: 64px;
    font-weight: 800;
    font-size: 2.4rem;
    color: $color-primary;
    background-color: $background-color-red;
    border-color: $border-color-red;
    box-shadow: 0 20px 20px 0 rgba($border-color-red, 0.3);
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}   

form {
    width: 80%;
}

.wrapper {
    @include center;
    @include border-radius(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    height: fit-content;
    background-color: $background-color-primary;
}

.title {
    @include border-radius(5px);
    display: flex;  
    align-items: center;
    justify-content: flex-start;
    width: 95%;
    height: 30px;
    padding: 20px;
    font-size: 2rem;
    font-weight: 600;
    color: $color-primary;
    background-color: $background-color-nav;
}

.input-task {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.tasks-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: large;
    color: $color-dark;
}

.statistical {
    font-size: 1.4rem;
    font-weight: 600;
}

.btn {
    @include border-radius(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    margin: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    color: $color-primary;
    background-color: $background-color-red;
    box-shadow: 0 20px 20px 0 rgba($border-color-red, 0.3);
    cursor: pointer;
}