@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
    @if $inset {
        box-shadow: inset $top $left $blur $color;
    } @else {
        box-shadow: $top $left $blur $color;
    }
}

@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

@mixin border-radius($all: null, $tl: $all, $tr: $all, $br: $all, $bl: $all) {
    border-top-left-radius: $tl;
    border-top-right-radius: $tr;   
    border-bottom-right-radius: $br;
    border-bottom-left-radius: $bl;
}

@mixin center {
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}