// background-color
$background-color-primary: #fafafa;

// button
$button-color-primary: rgb(94, 5, 94);

// color
$color-primary: #fff;
$color-dark: black;

// border
$border-color-primary: #d3d3d3;
