// background-color
$background-color-primary: #ffffff;
$background-color-purple: rgb(94, 5, 94);
$background-color-grey: #f0f3f6;
$background-color-title-todolist: rgb(253, 175, 6);
$background-color-nav: #1976d2;
$background-color-red: #fd0002;

// button
$button-color-primary: rgb(94, 5, 94);

// color
$color-primary: #fff;
$color-dark: #252525;
$color-purple: rgb(94, 5, 94);
$color-red: #fd0002;

// border
$border-color-primary: #d3d3d3;
$border-color-grey: #dadada;
$border-color-purple: rgb(94, 5, 94);
$border-color-red: #fd0002;
