// background-color
$background-color-primary: #fafafa;
$background-color-purple: rgb(94, 5, 94);
$background-color-grey: #f0f3f6;

// button
$button-color-primary: rgb(94, 5, 94);

// color
$color-primary: #fff;
$color-dark: black;
$color-purple: rgb(94, 5, 94);

// border
$border-color-primary: #d3d3d3;
$border-color-purple: rgb(94, 5, 94);
