@import "../app.component.scss";

p {
    font-size: 1.6rem;
}

table {
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.authors-list {
    display: flex;
    flex-direction: row;
}