@import "../app.component.scss";

button {
    margin-left: 10px;
    border-radius: 5px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: auto;
    width: 100%;
    height: 100%;
}