<div class="wrapper">
    <p>
        {{ author.id }}. {{ author.firstName }} {{ author.lastName }} 
    </p>
    <button class="card card-small" (click)="handleShowInfoOfAuthor()">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
        <span>Get ID and full name of author</span>
    </button>
    <button class="card card-small" (click)="handleDeleteAuthor()">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
        <span>Delete this author!</span>
    </button>
</div>
