/* You can add global styles to this file, and also import other style files */
// src/sass/styles.scss

// @import
@use "./sass/mixins";
@use "./sass/variables";


body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100vw;
    height: fit-content;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
